.accessPanel {
    height: 100%;

    .addUserBox {
        display: grid;
        height: 30px;
        grid-template-columns: 4fr 2fr;
        grid-gap: 20px;

        .userAddressField {
            input {
                height: 30px;
                padding: 5px;
            }
        }

        .addUserButton {
            height: 40px;
        }
    }

    .accessList {
        margin-top: 20px;
        background-color: #ffff;
        border-radius: 4px;
        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
        padding: 15px;

        h1 {
            margin: 0;
            color: #42a5f5;
        }

        .list {
            margin: 0 auto;
            height: 300px;
            overflow-y: scroll;

            .user {
                margin-top: 6px;
                box-shadow: 0px 1px 4px -2px black;

                .userInfo {
                    display: flex;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    margin-right: auto;
                    word-break: break-all;
                    overflow-wrap: break-all;
                    word-wrap: break-all;
                    hyphens: auto;
                    max-height: 50px;

                    p {
                        padding: 0;
                        margin-left: 0;
                        margin-right: 10px;
                        min-width: fit-content;
                        overflow-y: hidden;
                        height: 20px;
                    }
                }

                Button {
                    color: red;
                    margin-left: 10px;
                    margin-right: 0;
                }
            }
        }
    }
}