.contentLibrary {
    height: 100%;
    width: 35%;

    .fileUploadBox {
        display: flex;
        height: 30px;

        .uploadFileButton {
            flex-direction: column;
            flex-grow: 1;
            justify-content: flex-start;
        }

        .storeFileButton {
            margin-left: 10px;
            width: 150px;
            float: right;
        }
    }

    .library {
        background-color: #ffff;
        border-radius: 4px;
        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

        h1 {
            margin-left: 20px;
            margin-bottom: 0px;
            color: #42a5f5;
        }

        .list {
            margin: 0 auto;
            height: 300px;
            width: 90%;
            overflow-y: scroll;

            .file {
                margin-top: 6px;
                box-shadow: 0px 1px 4px -2px black;
                display: flex;

                p {
                    flex-direction: column;
                    flex-grow: 1;
                    margin-right: 15px;
                }

                .fileInfo {
                    display: flex;
                    overflow: scroll;
                    white-space: nowrap;
                    margin-right:auto;
                    max-width: 65%;
                }

                .owner {
                    color: gray;
                }

                .downloadButton {
                    margin-right: 0;
                }

                .deleteButton {
                    margin-left: 0;
                    color: red;
                    width: fit-content;
                }
            }
        }
    }
}